CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/ext-libs/*
!/ext-libs/.gitkeep

# Eclipse project files
.project
.cproject
/build/
!build/.gitkeep
