CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/ext-libs/*
!/ext-libs/.gitkeep

# User-specific CMake configure options
CMakeUserPresets.json

/build/
!build/.gitkeep

# Eclipse project files
/.settings/
.project
.cproject

.~lock*
/.idea/
